*.o
prefix
./projects/mcalfits/lib/libmcalfits.so.1.0.2
./projects/mcalcor2fits/mcalcor2fits
./projects/root2fits/root2fits
./projects/mcalgrid/mcalgrid
./projects/viewbsr/viewbsr
./projects/MCVLib/lib/libMCV.so.1.1.15-devel
./projects/mcalimaging/mcalimaging
./projects/scirm_analysis/scirm_analysis
./projects/viewrun/viewrun
./projects/viewrun/testMCVLib
./projects/viewbsr_ric/viewbsr_ric
./projects/makespectra/makespectra
./projects/mcalselect/mcalselect
./projects/mergedataset/mergedataset
./projects/plotmcaldata/plotmcaldata
./projects/mcalibration/mcalibration
./projects/process3908/process3908
./projects/mcalanalyzer/mcalanalyzer
./projects/convPKP3908toRoot/convPKP3908toRoot
./projects/MCVLib/lib/libMCV.a
./projects/hkmonitor/hkmonitor
./projects/hkviewer/hkviewer
./projects/mcalfits/lib/libmcalfits.a
./projects/plotgrb/plotgrb
